apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-service-networking-registry
  namespace: infrastructure
data:
  registry.json: |
    {
      "version": "2026-02-21",
      "services": [
        {
          "service_name": "backend-data-center",
          "base_url": "http://backend-data-center.infrastructure.svc.cluster.local:8787",
          "api_contracts": [
            "worldbuilder.discovery.catalog.v1",
            "worldbuilder.discovery.home.v1",
            "worldbuilder.discovery.detail.v1",
            "worldbuilder.discovery.schema.v1",
            "worldbuilder.discovery.play-session.get.v1",
            "worldbuilder.discovery.play-session.create.v1"
          ]
        }
      ]
    }
